#shuffler {
    position: relative; /* Zone de départ */
    height: 500px;
}

.img {
    position: absolute; /* Obligatoire pour utiliser left/top */
    width: 100px;       /* Ajuste selon tes images */
    cursor: pointer;
    transition: transform 0.2s;
}

.img:hover {
    transform: scale(1.1);
}

#conteneur {
    margin-bottom: 20px;
    background-color: #f9f9f9;
}